@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: local('Inconsolata'), url('../fonts/Inconsolata-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Inconsolata-Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Inconsolata'), url('../fonts/Inconsolata-Regular.ttf') format('ttf');
}