@import '../../assets/scss/mixins';

.view-more {
    a {
        text-decoration: none;
        @include padding(0.5, 1);

        &:hover {
            color: $color-primary;
            background-color: $bg-color-secondary;
        }
    }

    text-align: right;

    &--center {
        text-align: center;
    }
}